# .env
SEED=42
MAX_LENGTH=128
BATCH_SIZE=16
EARLY_STOPPING_MAX_EPOCHS=5
LEARNING_RATE=1e-5
HIDDEN_DIM=256
DROPOUT_PROB=0.1
DATASET_NAME=imdb
EARLY_STOPPING_PATIENCE=2
EARLY_STOPPING_DELTA=0.0
DATASET_MAP_CPU_CORE_NUMBER=8
USE_AMP=True
HF_TOKEN=